<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <!--ring div starts here-->
<div class="ring">
    <i style="--clr:#00ff0a; width: 600px; margin-left: -50px;"></i>
    <i style="--clr:#ff0057; width: 600px; margin-left: -50px;"></i>
    <i style="--clr:#fffd44; width: 600px; margin-left: -50px;"></i>
    <form class="login" action="/submit" method="post">
      <h2>Sign up</h2>
      <div class="inputBx">
        <input type="email" placeholder="email" name="email">
      </div>
      <div class="inputBx">
        <input type="text" placeholder="Fullname" name="Fullname">
      </div>
      <div class="inputBx">
        <input type="text" placeholder="Username" name="Username">
      </div>
      <div class="inputBx">
        <input type="password" placeholder="Password" name="Password">
      </div>
      <div class="inputBx">
        <input type="submit" value="Sign in">
      </div>
      <div class="links">
        <a href="#">Forget Password</a>
        <a href="/index.html">Login</a>
      </div>
    </form>
  </div>
  <!--ring div ends here-->
</body>
</html>